:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #353535;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
}

body {
  margin: 0;
  min-width: 320px;
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

button {
  -webkit-tap-highlight-color: transparent;
}
